.slider-content {
    width: 100%;
    /* background-color: rgb(255 255 255 / 60%); */
}
.fullwidth-carousel {
    z-index: 0;
    position: relative;
}
.services p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.w-100{width: 100%;height:500px;object-fit: cover;}
.sports-section .title-icon:after, .sports-section .title-icon:before {
    background-color: #ffff;
}
.text-theme-colored {
    color: #00a3c8 !important;
}